.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
display:block !important;
}

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
